// Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Pridi:300,500&display=swap');
// https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  background-image: url("/imgs/docs/cream-dust.png");
}


.lead{
  padding-left: 15px;
}
section{
  padding: 15px;
  margin: 50px 0px;
  // background-color: #fff;
  // border-radius: 6px;
  // padding: 12px;
}

.logos img {
    width: 4rem;
}

hr{
  border-top: 1px solid rgba(0, 0, 0, 0);
}

#docs h2{
padding-top: 30px;
}

h1 {
    margin-bottom: 50px;
}
