// Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Comfortaa|Roboto&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.lead{
  padding-left: 15px;
}
section{
  padding: 15px;
  margin: 50px 0px;
}

.logos img {
    width: 4rem;
}

hr{
  border-top: 1px solid rgba(0, 0, 0, 0);
}
